{% extends 'newsletter/base.html' %}

{% block title %} Информация о клиенте {% endblock %}

{% block content %}
    <div class="col-6">
        <div class="card shadow-sm">
            <div class="card-body">
                <p class="card-text">ФИО: {{ object.full_name }} </p>
                <p class="card-text">Почта: {{ object.email }} </p>
                <p class="card-text">Комментарий: {{ object.comment }}</p>
                <a href="{% url 'newsletter:client_update' object.pk %}" class="w-100 btn btn-lg btn-outline-info">Редактировать</a>
                <a href="{% url 'newsletter:client_list' %}" class="w-100 btn btn-lg btn-outline-primary">Выход</a>
                <a href="{% url 'newsletter:client_delete' object.pk %}" class="w-100 btn btn-lg btn-outline-danger">
                    Удалить</a>
            </div>
        </div>
    </div>
{% endblock %}